<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:blog="http://typo3.org/ns/Zeroseven/Z7Blog/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="blglst">
		<div class="blglst__list" id="js-blog-list-{data.uid}">
			<f:if condition="{requestArguments.ajax}">
				<f:then>
					<f:comment><!-- Load the selected stage only --></f:comment>
					{f:render(section: 'Stage', arguments: '{stage: pagination.stages.selected, settings:settings, demand:demand}')}
				</f:then>
				<f:else>
					<f:comment><!-- Load all active states (in range from 0 to [selected stage]) --></f:comment>
					<f:for each="{pagination.stages.active}" as="stage">
						{f:render(section: 'Stage', arguments: '{stage:stage, settings:settings, demand:demand}')}
					</f:for>
				</f:else>
			</f:if>
		</div>
		<div class="blglst__control" id="js-blog-control-{data.uid}">
			<f:if condition="{pagination.nextStage}">
				<f:then>
					<f:variable name="loadingText" value="{f:translate(key:'pagination.loading')}" />
					<blog:link.pagination class="blglst__next" demand="{demand}" stage="{pagination.nextStage}" ajaxPageType="{settings.post.list.ajaxTypeNum}" onclick="Zeroseven.Blog.addToList('#js-blog-list-{data.uid}', '#js-blog-control-{data.uid}', '{loadingText}');" data="{stage: '{pagination.selectedStage + 1}/{pagination.indicators -> f:count()}'}">
						{f:translate(key: 'pagination.next')}
					</blog:link.pagination>
				</f:then>
				<f:else>
					<f:if condition="{pagination.maxStages} == {pagination.selectedStage + 1}">
						<blog:link.filter class="blglst__all" defaultList="true" demand="{demand}" dataAttributes="false">
							{f:translate(key:'pagination.all')}
						</blog:link.filter>
					</f:if>
				</f:else>
			</f:if>
		</div>
	</div>
</html>

<f:section name="Stage">
	<f:for each="{stage}" as="post">
		{f:render(partial:'Post/List/Item', arguments: '{_all}')}
	</f:for>
</f:section>
