#post-info-table {
	margin: 1em 0;
}

#post-info-table th {
	padding-right: 1em;
}

#post-info-table th,
#post-info-table td {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.post-info-tag {
	border: 1px solid black;
	font-size: 10px;
	padding: 0.2em 0.6em;
	border-radius: 0.6em;
}

.post-info-tag,
.post-info-tag:hover {
	text-decoration: none;
}
